body {
	padding-top: 150px;
	text-align: center;
	font-size: 1.2em;
	background: linear-gradient(to right, #24ff25
, #ff1d0e);
	letter-spacing: 1em;
	text-shadow: 1px 2px 3px white;
}

input {
	margin: 20px;
	width: 120px;
	height: 45px;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 1px 2px 2px black;
	cursor: pointer;
}

button {
	cursor: pointer;
	margin-top: 50px;
    height: 45px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px black;
    font-family: monospace;
    font-size: 20px;
    background-color: transparent;
    text-shadow: 1px 2px 2px black;
    color: white;

}